<table width="960px" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:auto auto">
    <tr>
        <td height="230" >
            <table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="629" height="32"><span class="STYLE52">&nbsp;<a href="/us/about" target="_blank">关于我们 </a><a href=""
                                                target="_blank">|</a><a href="/us/contact" target="_blank">
    联系我们
</a><a href="" target="_blank">| </a><a href="/us/law"
                                        target="_blank">法律声明</a> <a href="" target="_blank">
    
</a></span></td>
                    <td width="331" rowspan="3"><div align="center"><img src="images/erweima.jpg" width="102" height="102" /></div></td>
                </tr>
                <tr>
                    <td height="32"><span class="STYLE52">&nbsp;中国医药物流网 </span></td>
                </tr>
                <tr>
                    <td height="32"><span class="STYLE52">&nbsp;版权所有 </span></td>
                </tr>
                <tr>
                    <td height="32"><span class="STYLE52">&nbsp;京ICP备16052430号-1 京公网安备110105003541 &nbsp;&nbsp;&nbsp;</span></td>
                    <td height="30" valign="bottom"><div align="center"><span class="STYLE44">微信扫一扫关注我们</span></div></td>
                </tr>
            </table>
        </td>
    </tr>
</table>