<div class="footer">
    
    <div class="about_box">
	  <div class="about_nav">
	     <div class="copyright">
    中国医药物流网 版权所有   京ICP备16052430号-1 京公网安备110105003541     </div>
        <div class="contact_us">
            <a href="/us/about" target="_blank">关于我们 </a><a href=""
                target="_blank">| </a><a href="/us/contact" target="_blank">
                    联系我们 </a><a href="" target="_blank">| </a><a href="/us/law"
                        target="_blank">法律声明</a> <a href="" target="_blank">
            </a>
        </div>
	        
	  </div>

	</div>
</div>

