 <ul class="hzmt">
<li class="hzmt_title"> 合作媒体 |</li>
<li><a href="http://www.chinawuliu.com.cn"  target="_blank">中国物流与采购网</a></li>
<li><a href="http://www.clic.org.cn"  target="_blank">中国物流信息中心</a></li>
<li><a href="http://www.clb.org.cn"  target="_blank">中国物流招标网</a></li>
<li><a href="http://www.lenglian.org.cn"  target="_blank">中国冷链产业网</a></li>
<li><a href="http://www.liot.org.cn"  target="_blank">中国智慧物流网</a></li>
<li><a href="http://www.hcls.org.cn" target="_blank">中国危化品物流网</a></li>
<li><a href="http://www.qichewuliu.com" target="_blank">中国汽车物流网 </a></li>
</ul>
