@model ViewDataDictionary
@{
    var title = ViewData["ltitle"];
    var rtitle = (string[])ViewData["rtitle"];
    var titleblockClassName = ViewData["tblockClassName"];
    
   
        
  
    
  } 

@{
    
    
    
    }


<div class="titleblock @titleblockClassName">
                      <div class="title_l">
            

                        @Html.ActionLinkArticleDetails("")
                      </div>
                      <div class="title_r ">
                      </div>
                      <div class="space_l">
                      </div>
                      <div class="space_r">
                      </div>
                  </div>