* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 12px;
    font-family: 微软雅黑;
}

a {
    text-decoration: none;
    color: #000000;
}

/* a:visited { color: #E94709; }*/

img, ul, li {
    border: 0px;
    vertical-align: middle;
}

li {
    list-style: none;
    display: block;
}

.hzmt {
    width: 958px;
    clear: both;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    margin: 0px auto 0px auto;
}

.link1 {
    margin-top: 6px;
    margin-bottom: 0px;
    border-bottom: 0px;
}

.hzmt li {
    float: left;
    list-style: none;
    font-size: 12px;
    margin-right: 10px;
}

.hzmt .hzmt_title {
    font-weight: 200;
    margin-left: 10px;
}

.link_last {
    border-top: 0px;
    margin-bottom: 6px;
}

.s14, .s14 a {
    font-size: 14px;
}

.s16, .s16 a {
    font-size: 16px;
}
/**********头，尾**************/
.header, .header .banner_box, .footer {
   /* background: #317ee7;*/
}

/***查询框****/
.banner_box .banner_main .logo {
    width: 320px;
}

.banner_box li.logo img {
    /* width: 323px; height: 92px;*/
    float: left;
    margin-top: 20px;
}

.header li.searchbox {
    width: 540px;
    vertical-align: middle;
    height: 130px;
    line-height: 130px;
}



 button,input {
      font:normal;
   line-height:normal;  
   
   
}
input {
 
  height:unset;

}

.searchbox {
   margin-left: 100px;
}

    .searchbox #txtKeyWord {
        height: 32px;
        width: 350px;
        color: #000;
        border: 1px solid #c1c4cb;
    }

    .searchbox #btnSearch {
        height: 34px;
        width: 100px;
        margin: 0px;
        background: #1d50a3;
        border: 1px solid #1d50a3;
        color: #ffffff;
        font-weight: bolder;
    }
/**主导航栏***/
.main_nav_box {
    height: 45px;
    background: #1d50a3;
    line-height: 45px;
    vertical-align: middle;
    text-align: center;
}

    .main_nav_box li {
        width: 88px;
        background: url(/images/main_nav_split.jpg);
    }

        .main_nav_box li.last {
            width: 80px;
        }

    .main_nav_box a {
        font-size: 15px;
    }

/****************************/
.footer .about_box {
    clear: both;
    width: 100%;
    background: #074F8A;
}

.header, .header a, .header, .footer, .footer a {
    color: #ffffff;
    font-size: 15px;
    /*font-size: 14px;*/
}

    .header li {
        float: left;
    }
    /*.header .banner_box { width: 100%; background: #0A315A; height: 130px; }  */
    .header .banner_box {
        width: 100%;
        background: #ffffff;
        height: 130px;
    }

        .header .banner_box a {
            color: #000000;
        }

    .header .banner_main, .header .nav_box, .footer .nav_box, .footer .about_nav {
        width: 960px;
        margin: 0px auto;
    }

.banner_main li {
    height: 130px;
    line-height: 130px;
}

.banner_main .navmenu li {
    text-align: left;
}

    .banner_main .navmenu li:first-child {
        text-align: center;
    }


.banner_box .banner_main .navmenu ul li {
    width: 78px;
}
/* .header .nav_box { height: 70px; padding-top: 10px; padding-left: 20px;background:#317ee7; }  */

.header .nav_box {
    height: 70px;
    padding-top: 10px;
    background: #317ee7;
}

    .header .nav_box ul {
        float: left;
        width: 137px;
    }

    .header .nav_box .nav1 {
        width: 137px;
    }

    .header .nav_box li {
        height: 30px;
        line-height: 30px;
        float: none;
        text-align: center;
    }

    .header .nav_box a {
        font-weight: bolder;
    }

    .header .nav_box .split_line {
        margin: 0px 8px;
    }

/********尾********/
.footer {
    clear: both;
}

    .footer, .footer a {
        font-size: 12px;
    }

        .footer b {
            font-weight: normal;
        }

        .footer .nav_box {
            height: 260px;
        }

            .footer .nav_box p {
                height: 35px;
                line-height: 35px;
                padding-top: 10px;
            }

                .footer .nav_box p a {
                    font-size: 16px;
                    font-weight: bolder;
                }

            .footer .nav_box ul {
                width: 210px;
                float: left;
            }

                .footer .nav_box ul li {
                    height: 25px;
                    line-height: 25px;
                }

        .footer .about_box {
            height: 50px;
            line-height: 50px;
        }

        .footer .about_nav .copyright {
            float: left;
            margin-left: 20px;
        }

        .footer .about_nav .contact_us {
            float: right;
            margin-right: 20px;
        }

/*首页主体********************************/
.cpl_intro_item, .cpl_intro_item ul {
    width: 87px;
}

    .cpl_intro_item li {
        /*width:70px;
        margin-left:8px; border-bottom:1px solid #dadbdc; */
        height: 38px;
        line-height: 38px;
        text-align: center;
        display:block;
    
        border-color:#EFE5E5;
        border-width:0px 1px 1px 0px;
       border-bottom-style:solid;
              background-position-y: 2px;
            background-position-x:-2px;
    }
     
        .cpl_intro_item li.intro1 {
          background: url(/images/cpl_intro_d1.jpg);
      
            
        }

        .cpl_intro_item li.intro2 {
          background: url(/images/cpl_intro_d2.jpg);

               
        }
/* 
           .cpl_intro_item li.first {
            border-bottom: 0px;
            background: url(/images/cpl_intro_end.jpg);
            height: 43px;
        }
        .cpl_intro_item li.last {
            border-bottom: 0px;
            background: url(/images/cpl_intro_end.jpg);
            height: 43px;
        }

*/

.mainbox, .header, .footer {
    width: 960px;
    margin: 0 auto;
    clear: both;
}

.index_body .mainbox div {
    float: left;
}

.mainbox .left580, .mainbox .right580 {
    float: left;
    width: 550px;
}

.mainbox .left380, .mainbox .right380 {
    width: 380px;
    float: left;
}

.mainbox .left580 {
    margin-right: 30px;
}

.mainbox .right580 {
    margin-left: 30px;
}

.mainbox .left {
    width: 360px;
}



.zh_mainbox div {
    float: left;
}

.mainbox .item360 {
    width: 360px;
}

.mainbox .item280 {
    width: 280px;
}

.mainbox .middle {
    margin: 0 20px;
}

.mainbox .pic_slider {
    padding-top: 17px;
    margin: auto 10px;
}
/**标题块***********/

.titleblock div {
    float: left;
}

.titleblock {
    width: 100%;
    height: 70px;
}

/**默认  title_,space**/

.mainbox .title_l, .mainbox .title_r {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

    .mainbox .title_l, .mainbox .title_l a {
        font-size: 16px;
        font-weight: bold;
    }

        .mainbox .title_l b {
            font-size: 12px;
        }

.mainbox .title_r {
    text-align: right;
}

.mainbox .title_r_left {
    text-align: left;
}

.mainbox .title_r a, .mainbox .title_r2 a {
    display: inline;
    margin: 0px 5px;
}

.mainbox .title_r2 a {
    margin: 0px;
    margin-right: 2px;
}


/*****************/
/*.title_l, .space_l
{width: 30%;
}
.title_r, .space_r {
    width:70%;
}
.titleblock .space_l, .titleblock .space_r { height:2px; }
.titleblock .space_l { background: #074F8A; }
    .titleblock .space_r { background: #ABABAB; }
    */


.title_l, .space_l {
    width: 80px;
}

.titleblock .space_l, .titleblock .space_r {
    height: 2px;
}

.titleblock .space_l {
    background: #074F8A;
}

.titleblock .space_r {
    background: #ABABAB;
}


.left .title_r, .left .space_r, .item360 .title_r, .item360 .space_r {
    width: 280px;
}


.item280 .title_r, .item280 .space_r {
    width: 200px;
}

.right580 .title_l, .left580 .title_l {
    width: 130px;
}

.right580 .title_r, .left580 .title_r {
    width: 420px;
}


.right380 .space_r, .right380 .title_r {
    width: 300px;
}

.right580 .space_r, .left580 .space_r {
    width: 470px;
}

/***用于栏目有8个字的 ***/
.item280 .title_l_160, .title_l_160 {
    width: 160px;
}

.item280 .title_r_120, .title_r_120 {
    width: 120px;
}

/*列表模块****/


.datalist li {
    height: 35px;
    line-height: 30px;
    vertical-align: middle;
    overflow: hidden;
    float: left;
    margin: 0px;
    padding: 0px;
    
}




.datalist .dian {
    margin-right: 2px;
}
/***行业信息*****/

.hangye .ftitle {
    width: 360px;
    height: 50px;
    line-height: 50px;
}

    .hangye .ftitle a {
        font-size: 18px;
        font-weight: bold;
        width: 100%;
    }




.hangye .stitle {
    width: 110px;
}

.hangye .s0 {
    margin: 0px 15px;
}
.hangye li {

clear:both;
}
/********模式，热点****/

.classnametitle span {
    display: block;
    float: left;
}

    .classnametitle span.date {
        float: right;
        width: 41px;
        text-align: right;
    }

.classnametitle .title {
    width: 310px;
}

.classnametitle, .classnametitle li a {
    font-size: 14px;
}

    .classnametitle li span.classname {
        margin-right: 4px;
    }

        .classnametitle li span.classname, .classnametitle li span.classname a {
            color: #074F8A;
            font-weight: bold;
        }

/**政策声音***/
.zs {
    padding-top: 10px;
}

    .zs li.pic {
        width: 200px;
        height: 250px;
    }

    .zs .pic img {
        width: 170px;
        height: 250px;
    }

    .zs li.pic_title, .zs li.pic_intro {
        width: 350px;
        margin-bottom: 8px;
    }

    .zs li.pic_intro {
        height: 90px;
        text-indent: 23px;
    }

    .zs li.title0, .zs li.title1 {
        width: 160px;
        margin-top: 2px;
        padding-left: 12px;
        background-color: #EDEDED;
        background: url(/images/dian.gif) no-repeat #ededed 4px 15px;
    }

    .zs li.title1 {
        margin-right: 2px;
    }
/*
.zs li.title0  ,.zs li.title1
{
    width:160px;
}
.zs li.title1
{padding-right:30px;
}  
                                */
/**精品推荐  热点视频*/
.datalist ul.imglist, ul.titlelist {
    clear: both;
    height: 120px;
    width: 100%;
}


ul.titlelist {
    height: 80px;
}

.datalist .imglist li {
    width: 120px;
    height: 128px;
}

.datalist .imglist li, .datalist .titlelist li {
    float: left;
    width: 120px;
}

.datalist .titlelist li {
    width: 100%;
}

/*
.datalist .imglist img {
    height: 66px;
    width: 99px;
}
*/
.datalist .imglist p {
    clear: both;
    height: 20px;
    line-height: 20px;
    width: 130px;
    margin-top: 6px;
}


.datalist .titlelist li {
    background-color: #EDEDED;
    display: block;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 1px;
    margin-left: 0;
    margin-right: 2px;
    margin-top: 1px;
    padding-left: 12px;
    vertical-align: middle;
    width: 166px;
    background: url(/images/dian.gif) no-repeat #ededed 4px 15px;
}

.jptj li img {
    width: 100px;
    height: 66px;
}

li.li_1, li.li_3, li.li_5 {
    float: right;
}
/*
.jptj li.img_1 {
    text-align: center;
}

.jqtj li.img_2 {
    text-align: right;
}

.jptj li.img_1 {
    text-align: center;
}

    .jptj li.img_1 p {
        margin-left: 10px;
    }

.jptj li.img_2 {
    text-align: right;
}


    .jptj li.img_2 p {
        margin-left: 20px;
    }
    */
/****2015-3-20 改**/
.jptj li.img_0, .jptj li.img_1, .jptj li.img_2, .jptj p {
    text-align: center;
    overflow: hidden;
}


.video .imglist li, .video .imglist img {
    width: 130px;
    height: 135px;
}

.video .imglist img {
    height: 105px;
}

.video .imglist .img_1 {
    float: right;
}

.video .imglist li p {
    text-align: left;
}



.video .titlelist li {
    width: 126px;
}

/********热点专题 新闻人物*******/


.datalist .picnews_box li.pic {
    width: 120px;
    height: 108px;
}

.datalist .picnews_box .pic img {
    height: 85px;
    width: 108px;
}

.picnews_box .intro {
    line-height: 20px;
    width: 160px;
    height: 60px;
}

.datalist .picnews_box li.title {
    background-color: #EDEDED;
    height: 30px;
    line-height: 30px;
    margin-bottom: 6px;
    text-align: center;
    width: 160px;
    padding-left: 0 10px;
    vertical-align: middle;
}

/****电商仓储  运输配送**********/
.pictitle_box ul {
    float: left;
    height: 106px;
    /*background:#e7e7e7;*/
}

    .pictitle_box ul.u_1 {
        margin-left: 20px;
    }



.pictitle_box ul {
    width: 100%;
}


.pic_135 .pic {
    width: 135px;
    height: 105px;
}

    .pic_135 .pic img {
        width: 125px;
        height: 95px;
        margin: 7px;
        margin-right: 0px;
    }

.pic_135 .pic, .pic_105 .pic {
    margin-right: 10px;
}

.pic_135 .pictitle_box ul .title, .pic_135 .pictitle_box ul .intro {
    width: 208px;
}

.pictitle_box {
    background: #f8f9fa;
    border: 1px solid #e2e2e2;
}

    .pictitle_box ul .intro {
        line-height: 26px;
        height: 70px;
    }
/**pic_105 **/


.pic_105 .pic {
    width: 105px;
    height: 105px;
}

    .pic_105 .pic img {
        width: 95px;
        height: 90px;
        margin: 7px;
        margin-right: 0px;
    }

.pic_105 .pictitle_box ul .title, .pic_105 .pictitle_box ul .intro {
    width: 158px;
}



.pic_135 .pictitle_box ul .title, .pic_105 .pictitle_box ul .title {
    line-height: 20px;
    height: 20px;
    margin-top: 5px;
}


.datalist .titlelist2 li {
    background-color: #ffffff;
}

/***中间行块**/
.item280 .datalist .titlelist2 li {
    width: 126px;
}
/***展会,会议，电子刊**/
.imglist2 .img_0 {
    float: left;
    width: 140px;
}

.imglist2 .img_1 {
    text-align: right;
    width: 140px;
}

.titlelist2 li {
    width: 263px;
    padding-left: 12px;
    height: 33px;
    line-height: 33px;
    vertical-align: middle;
    background: url(/images/dian.gif) no-repeat 4px 15px;
}

.zh .imglist2 li {
    height: 100px;
}

.hy .imglist2 li, .dzk .imglist2 li {
    height: 70px;
}

.zh .imglist2 img {
    width: 115px;
    height: 100px;
}

.hy .imglist2 img {
    width: 120px;
    height: 45px;
}

.dzk .imglist2 img {
    width: 246px;
    height: 50px;
}
/***展会频道****/
/**展会推荐**/

.zh_tuijian .tuijian_box {
    width: 270px;
    height: 100px;
    overflow: hidden;
}

    .zh_tuijian .tuijian_box, .zh_tuijian .tuijian_box .imgbox, .tuijian_box .tbox {
        float: left;
    }

.zh_tuijian .box_0, .zh_tuijian .box_2, .zh_tuijian .box_4 {
    margin-right: 10px;
}

.zh_tuijian .box_1, .zh_tuijian .box_3 {
    float: right;
}

.zh_tuijian .tuijian_box .imgbox, .zh_tuijian .tuijian_box img {
    width: 99px;
    height: 66px;
}

.zh_tuijian .tbox, .zh_tuijian h5, .zh_tuijian h6 {
    width: 150px;
    margin-left: 11px;
    overflow: hidden;
}

.zh_tuijian h5, .zh_tuijian h6 {
    height: 19px;
    margin-left: 0px;
}

.zh_tuijian h6 {
    text-indent: 10px;
    font-weight: normal;
    height: 48px;
    line-height: 24px;
    margin-top: 4px;
}

.zh_hezujigou img {
    width: 175px;
    height: 80px;
    float: left;
    margin-top: 8px;
}

    .zh_hezujigou img.img_1, .zh_hezujigou img.img_0 {
        margin-top: 0px;
    }

    .zh_hezujigou img.img_1, .zh_hezujigou img.img_3 {
        float: right;
    }
/** 展馆栏目**/

.zhanguan ul.imglist, .zhanguan ul.imglist li {
    text-align: center;
    height: 100px;
}

    .zhanguan ul.imglist img {
        width: 110px;
        height: 70px;
    }

    .zhanguan ul.imglist li p {
        width: 130px;
        text-align: center;
    }

/*联系我们**/
.zhanhui_lianxiwomen {
    height: 180px;
    overflow: hidden;
}
/********选项卡 ********/
.itemTabShow {
    display: block;
}

.itemTabHide {
    display: none;
}


/**文章详细页*/
#pageNewsDetail, #pageNewsDetail th {
    /*color: #1F376D;*/
}

    #pageNewsDetail .tdNewsTitle {
        color: #000000;
        font-weight: bold;
        padding-left: 20px;
        text-align: center;
        height: 50px;
    }

        #pageNewsDetail .tdNewsTitle h2 {
            font-size: 18px;
            margin-top: 8px;
        }

        #pageNewsDetail .tdNewsTitle h3 {
            text-align: right;
            font-size: 14px;
            margin-top: 8px;
            margin-bottom: 8px;
            padding-right: 4px;
            overflow: hidden;
        }

.div_detailpage_adimg {
    float: left;
    margin-right: 16px;
    width: 300px;
}

    .div_detailpage_adimg img {
        float: left;
    }

#pageNewsDetail .detail-box {
    background: #fff;
}

.span_news_detailcontent {
    font-family: 宋体;
    font-size: 14px;
    line-height: 200%;
    padding: 4px 10px;
}
/***文章分页 ***/
.articles_pager img {
    width: 81px;
    height: 21px;
}
/***文章页***/
.articles_pager .prev img {
    background: url(/images/page_pre.gif);
}

.articles_pager .next img {
    background: url(/images/page_next.gif);
}

.articles_pager .active {
    color: red;
}
/**************/

.category_split {
    margin: 0 2px;
}
/*****列表页********/
.listpage {
    margin-top: 10px;
}

    .listpage .last_category_split {
        visibility: hidden;
    }

    .listpage .left_box {
        width: 652px;
        float: left;
    }

    .listpage .right_box {
        width: 300px;
        float: right;
    }

.articles_list .list_title {
    width: 100%;
}

.articles_list .list_title, .articles_list li.list_title span {
    line-height: 38px;
    height: 38px;
    vertical-align: middle;
    font-size: 14px;
    float: left;
    overflow: hidden;
}

.articles_list li.list_title {
    clear: both;
}

.articles_list .list_title span.spanClass {
    margin: auto 10px;
}

.articles_list .list_title span.spanTitle {
    width: 476px;
}

.articles_list .list_title span.spanTime {
    float: right;
    padding-right: 8px;
}
/*******列表页右侧栏********/


.right_ad_box {
    clear: both;
    margin: 4px auto;
}

.ad_box_top {
    margin-top: 0px;
}
/**********************/

.articlesblock th, .articlesblock .right_title, .nav_title {
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    background: #ffffff;
    background: url("/images/bj-1.gif");
    text-align: left;
    font-size: 14px;
    padding-left: 10px;
}

.articlesblock .right_title {
    font-weight: bold;
}

div.articlesblock, .listpage .left_box {
    border: solid 1px #AACBEE;
}

.articlesblock .right_title, .nav_title {
    border-bottom: solid 1px #AACBEE;
}

.listpage .left_box {
    border-top: solid 2px #2158A7;
}

.articlesblock td li, .articlesblock li {
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    background: #ffffff;
    text-align: left;
    width: 96%;
    font-weight: normal;
    overflow: hidden;
}

    .articlesblock li span {
        margin: 0px 5px;
        font-weight: bold;
    }

.xgtitlelist {
    font-size: 14px;
    margin: auto auto;
}

.articlesblock td li span {
    margin: 0 4px 0 2px;
    font-size: 12px;
}

.xgtitlelist td li span {
    margin-left: 8px;
}


/**广告块*/
.tbAd {
    margin-top: 5px;
    margin-bottom: 5px;
}

    .tbAd td.split {
        width: 2px;
    }

.tbAd2 td, .tbAd2 td img {
    width: 238px;
    height: 45px;
}


.articles_pager {
    text-align: center;
}

    .articles_pager span.active {
        color: red;
    }



/*****会员专区***/
.tdMemberBox {

width:100%;
}
.member {
margin-bottom:20px;
}
.member_left {
    vertical-align:top;
    width:680px;
}
    .member_left .nav_title {
    
    
        border-bottom:0px;
        background:url("");
    }
    .member_left td.tdNewsTitle h2 {
        text-align:center;
    
    margin-top:10px;
    }
    .tdShowTime {

    display:none;

}
.member_btn_box a {
    display: block;
    height: 48px;
    background: #2D69AF;
}

.member_list_box th {
    background: #E6E6E6;
    height: 40px;
    text-align: center;
}

.member_list_box {
    background: #cccccc;
}

    .member_list_box td.name,
    .member_list_box td.job {
        width: 130px;
    }

    .member_list_box .company {
        width: 362px;
    }

    .member_list_box td {
        background: #ffffff;
        text-align: left;
        height: 40px;
    }











/****联系我们**********/
.us {
    background: #ffffff;
    overflow: hidden;
    margin-bottom: 6px;
    margin-top: 4px;
}

    .us div {
        float: left;
    }

.us_nav, .us_nav ul, .us_nav li {
    background: #F5FAFA;
    width: 220px;
}

    .us_nav li {
        clear: both;
        background: url(/images/us/us_nav_bg.png) no-repeat 0px 5px;
        height: 50px;
        margin: 10px auto;
        width: 163px;
        line-height: 50px;
        text-align: center;
    }

        .us_nav li a {
            font-size: 14px;
            font-weight: bold;
        }


.us .us_content {
    width: 720px;
    margin-left: 20px;
}

.us_content .txt_nav {
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #074F8A;
}

.us_content .txt_nav, .us_content .txt {
    width: 100%;
}

.us_nav, .us_content {
    margin-bottom: -10000px;
    padding-bottom: 10000px;
}

.txt {
    padding-top: 10px;
}

.member_btn_level_box {
    width: 100%;
   margin-top:20px;
    clear:both;
    height:60px;
}

    .member_btn_level_box a {
        color: #ffffff;
        display: block;
        float: left;
        background: #2D69AF;
        height: 40px;
        line-height:40px;
        width: 122px;
        vertical-align: middle;
        text-align: center;
        margin-right:10px;
        font-size: 16px;
    }
        .member_btn_level_box a.last {
        
            float:right;
            margin-right:0px;
        }
.member_right {


     vertical-align:top;
}
.member_list_box td {

    padding-left:10px;
     overflow:hidden;

}
a.cur_membergroup {


    background:#0094ff;
}